/*-----------------------------------------------------------------------------
	Buna is a modern and unique PSD template.
	Designed for professionals and freelancers 
	Who's looking for a theme.
	
	Table of Contents:

 1) buna showcase

------------------------------------------------------------------------------*/
	/*-- buna showcase --*/
@media (min-width: 1199px) {
	.container{
		padding-left: 0px;
		padding-right: 0px;
		}
}
.header{
	padding-top: 12px;
	background: #f5f5f5;
	}
.fatured-page{
	padding-top: 50px;
	padding-bottom: 30px;
	}
.navbar{
	border: none;
	background: transparent;
	}
.navbar-brand{
	padding: 0;
	}
.navbar-header a{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	line-height: normal;
	font-weight: 700;
	color: #333333!important;
	text-align: center;
	}
.navbar-header a img{
	background: #15beb7;
	margin: 0 auto;
	padding: 12px 8px;
	border-radius: 50%;
	display: block;
	margin-bottom: 20px;
	}
.fatured-logo{
	float: left;
	margin-bottom: 0px!important;
	margin-right: 20px!important;
	}
ul.purchase{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
	}
ul.purchase li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	background: #15beb7;
	padding: 10px 25px;
	display: block;
	border-radius: 5px;
	}
section.main-wrapper{
	background: #ffffff;
	padding-top: 40px;
	}
.wrapper-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #3b4350;
	text-align: center;
	margin-bottom: 30px;
	}
.wrapper-title{
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #15beb7;
	text-align: center;
	margin-bottom: 40px;
	}
.showcase-inner{
	margin-bottom: 30px;
	text-align: center;
	}
.showcase-inner > p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #3b4350;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 20px;
	}
.showcase-inner > a{
	display: block;
	margin: 0 auto;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	}
.showcase-inner > a img{
	margin: 0 auto;
	}
.showcase-inner > a:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 1px 2px 20px #15beb7;
	}
.wrapper-bottom{
	text-align: center;
	}
.wrapper-bottom > a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	background: #15beb7;
	text-decoration: none;
	padding: 15px 40px;
	display: block;
	width: 300px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-radius: 5px;
	}
.wrapper-text-bottom{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: #3b4350;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
	}
footer.footer-bottom{
	text-align: center;
	background: #3b4350;
	padding-top: 20px;
	padding-bottom: 20px;
	}
.footer-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
	}